<ul class="main-navigation">
  <li><a href="{{ root_url }}/">Blog</a></li>
  <li><a href="{{ root_url }}/blog/archives">Archives</a></li>
  <li><a href="{{ root_url }} /blog/categories/newbie">Selenium For Newbie</a></li>
  <li><a href="{{ root_url }} /blog/categories/xpath">Xpath Location</a></li>
  <li><a href="{{ root_url }} /blog/categories/webdriver">Webdriver Basic</a></li>
  <li><a href="{{ root_url }} /blog/categories/testng-framework">TestNG Framework</a></li>
  <li><a href="{{ root_url }} /blog/categories/selenium-framework">Selenium Framework</a></li>
</ul>
